@charset "UTF-8";
/*
#7FFFD4
#40E0D0
#00CED1
#0000FF

*/

:root{
--cor1: #FF0000;
--cor2: #ffffff;
--cor3: #00CED1;
--cor4: #0000FF;
--cor5: #00FF00;
--cor6: #000000;
--cor7: #40E0D0;
--fonte-padrao: arial, verdana, helvetica, sans-serif;
--fonte-destaque: arial, cursive;
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor2);
}
a.externo::after{
    content: '\00a0\1F517';
}
main a {
    font-weight: bold;
    text-decoration: none;
    color: var(--cor1);
}
main p{
    color: var(--cor2);
    margin: 15px 0px;
    text-align: justify;
    text-indent: 20px;
    line-height: 2em;
}
header > h1{
    color:var(--cor6);
    text-align: center;
    font-family: var(--fonte-destaque);
    font-size: 2em;
    padding-top: 20px;
}
header{
   background-image: linear-gradient(to bottom,var(--cor3),
   var(--cor7));
}

ul{
    color: #ffffff;
}
abbr{
    color: #00FF00;
    text-decoration: none;
    font-weight: bold;
}
strong{
    color: #FF0000;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor2);
    background-color: var(--cor4);
}
main{
min-width: 300px;
max-width:1000px ;
margin: auto;
background-color: var(--cor6);
padding: 25px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
margin-bottom: 20px;
}

h1{
    color: var(--cor2);
    font-family: var(--fonte-padrao);
}
main img{
    width: 100%;
}
footer{
    background-color: var(--cor2);
    color: var(--cor6);
    text-align: center;
}
footer a{
    color: var(--cor4);
    text-decoration: none;
    font-weight: bolder;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}
nav{
    background-color: var(--cor7);
    
    min-height:35px ;
    padding-top: 20px;
}
nav > a{
    color: var(--cor2);
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}
nav > a:hover{
    background-color: var(--cor6);
    color: var(--cor4);
    border-radius: 5px;
}